/* Variables  */

:root {
  --box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  --box-shadow-dropdown: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  --global-radius: 4px;

  --primary-color: #0C71FF;
  --primary-color-hover: #3C8CFF;
  --main-bg: #ECEFF1;
  --alert: #CA6A6A;
  --grey: rgba(0,0,0,0.6);
  --quick: cubic-bezier(.4,0,.2,1) .2s;
  --border: 1px solid #E6E6E6;
  --border-color: #E6E6E6;
}

html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
   'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--main-bg);
}

/* Typography */

h1 {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 400;
  color: black;
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 1rem 0;
}

.code {
  font-family: 'Courier', Courier, monospace;
  font-weight: 500;
}

/* Layout */

.main {
  max-width: 650px;
}

.box {
  box-shadow: var(--box-shadow);
  background: white;
  border-radius: var(--global-radius);
  transition: box-shadow var(--quick);
  color: var(--grey);
  line-height: 1.6;
  padding: 2rem;
}

.box p {
  margin-bottom: 0 !important;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.flex-grow {
  flex-grow: 1;
}

.flex img {
  margin-left: 1rem;
  margin-top: 5px;
  display: block;
  flex-shrink: 0;
}

.table {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
}

.table tr:nth-child(odd) td {
  background-color: #EFF9FD;
} 

.table td {
  padding: 10px 15px;
} 

.table tr td:first-child {
  border-top-left-radius: var(--global-radius);
  border-bottom-left-radius: var(--global-radius);
  font-weight: bold;
}

.table tr td:last-child {
  border-top-right-radius: var(--global-radius);
  border-bottom-right-radius: var(--global-radius);
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}